:root {
  font-size: 13px;
  color:#484848;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family:
  "Courier New";
   margin-right: 2em;

}
.smaller{
  font-size: 11px;
}

.chinese{
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
.highlight{
  border-bottom: 1.5px dotted;
  font-style: italic;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;


}



.more{
  border: 1px dotted #b5b5b5;
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  background-color: white;
}


summary{
    margin-bottom: 2em;
    margin-top: 2em;
    cursor: pointer;
}

summary::marker {
  content: none;
}


.content {
  list-style-type: none;
}


.main {display: flex;
flex-direction: column;
}

figure{
display: flex;
align-items: center;
justify-content: space-between;
border-top-style: solid;
border-width: 1px;
border-color: #b4b4b4;
margin:0;
padding:0;
}

header{
  margin-bottom: 2em;
}

.bottom{
border: 1px dotted #b5b5b5;
border-radius: 30px;
padding: 10px 10px 10px 10px;
text-decoration: none;
background-color: white;
}


.icons{
  margin-right: 3em;
}





a{
  text-decoration-line: none;
  color: #484848;
}

footer{
  position: fixed;
  bottom: 2em;


}




a:link {

  background-color: #98ff69;
}

a:hover {

  background-color: hotpink;
}
