:root {
    font-size: 15px;
}

body {
    font-family: courier new;
    font-size: 0.8em;
    font-weight: 500;
    line-height: 1.4;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1ff84;
    filter: blur(0px);
    margin-bottom: 10em;
}

.back {
    width: 3em;
    text-align: center;
    background-color: #ff9bcf;
    border-radius: 90% 60% 70% 70%;
    margin-left: 2em;
    box-shadow: rgba(0, 0, 0, 0.144) 0px -2px 2px 0px inset, rgba(154, 111, 255, 0.15) 0px -6px 3px 0px inset, rgba(188, 255, 166, 0.1) 0px -4px 4px 0px inset, rgba(216, 255, 138, 0.038) 0px 2px 1px, rgba(0, 0, 0, 0.153) 2px 2px 2px, rgba(0, 0, 0, 0.09) 0px 4px 4px, rgba(0, 0, 0, 0) 0px 6px 8px, rgba(0, 0, 0, 0.009) 0px 3px 6px;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    width: 70%;
    border: #ffffff;
}

figcaption {
    inline-size: 40%;
    text-align: center;
}

img {
    width: 50%;
    height: auto;
    border-radius: 10%;
    filter: drop-shadow(2px 2px 5px rgba(255, 255, 255, 0.23));
}

marquee {
    font-family: courier new;
    font-size: 0.8em;
    font-weight: 500;
    color: #ffffff;
    width: 50%
}

figure:first-of-type {
    margin-top: 3em;
}

p {
    font-size: 0.7em;
}

a:link {
    text-decoration: none;
    color: inherit;
    background-color: #98ff69;
}

a:hover {
    text-decoration-style: underline;
    color: inherit;
    background-color: hotpink;
}