:root {
  font-size: 15px;
}

body {
  font-family: courier new;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1.5;
  font-style: normal;
display:flex;
flex-direction: column;
align-items:center;
margin:2em;
}

img{
  min-width: 100%
}
figure{
  margin-top:3em;}

figure:first-of-type {
    margin-top:0em;}






p{
  text-align: center;

color: #c6c6c6;

}

a:link {
  text-decoration: none;
  color: inherit;
  background-color: #98ff69;
}

a:hover {
  text-decoration-style: underline;
  color:inherit;
  background-color: hotpink;
}
