:root {
  font-size: 15px;
}



body {


  font-family: courier new;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5;
  font-style: normal;


}

.chong{
  background-color: light-blue;
}





.c2 {

  height: 5em;
  width: 5em;
  animation-name: c2;
  animation-duration: 15s;
  animation-timing-function: cubic-bezier(.68,-0.55,.47,1.5);
  animation-iteration-count: infinite;
}


.c3 {

  animation-name: c2;
  animation-duration: 15s;
  animation-timing-function: cubic-bezier(1,-0.5,1.2,1);
  animation-iteration-count: infinite;
}

.c4 {



  animation-name: c2;
  animation-duration: 15s;
  animation-timing-function: cubic-bezier(0.5,-0.3,0.2,-0.4);
  animation-iteration-count: infinite;
}




















a:link {
  text-decoration: none;
  color: inherit;
  background-color: #98ff69;
}

a:hover {
  text-decoration-style: underline;
  color:inherit;
  background-color: hotpink;
}





@keyframes c2 {
  0% {
    transform: rotate(0deg) translate(.5em, -.5em) rotate(0deg);
  }
  25% {
    transform: rotate(-360deg) translate(.5em, -1.5em) rotate(420deg);
  }
  50% {
    transform: rotate(0deg) translate(.5em, -.5em) rotate(0deg);
  }
  75% {
    transform: rotate(420deg) translate(.5em, -.5em) rotate(-420deg);
  }
  100% {
    transform: rotate(0deg) translate(.5em, -.5em) rotate(0deg);
  }
