:root {
  font-size: 15px;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: courier new;
  display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap:1em;
margin:0;
padding:0;
height: 100vh;
}

.name{
  display:flex;
  justify-content:space-between;
  padding-bottom: 1em;
}
marquee{
  color: black;
  /*background-color: #9ef6ff47;
border-radius: 50%;
  background-image: linear-gradient(to right,rgb(255, 255, 255), rgb(153, 226, 255));
  opacity: 80%;*/
  height: 2em;
}
/*口袋*/
header {
 margin:1em;
 grid-column-start: 1;
grid-column-end: 5;
grid-row-start: 1;
grid-row-end: 2;
}

p {
  font-size: 0.7em;
}


.chong {
grid-column: 2/1;
  height:5em;
  /*
height:30em;
background-color: #40f9bc;
border-radius: 60% 80% 50% 60%;

  animation-name: border2;
  animation-duration: 8s;
animation-timing-function: cubic-bezier(.68, -0.55, .47, 1.5);
  animation-iteration-count: infinite;
animation-direction: alternate;*/
}



.jobs {

height:5em;

/*
  background-color: #c0ff63;
  border-radius: 10% 400% 10%;
 grid-column: 2 / 3;
*/

}

.bobo {
  height:5em;
  /*
grid-column: 3 / 4;
  background-image: linear-gradient(rgb(188, 233, 255), rgb(255, 253, 153));
  */
}




div{
  display: flex;
  justify-content: space-around;
 align-items: center;



}




footer{

grid-column-start: 1;
grid-column-end: 5;
grid-row-start: 4;
grid-row-end: 5;
}






small {
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1.5;
  font-style: normal;
}

.chong a {
  position: relative;
}

.chong a span {
  position: absolute;
  display: none;
  z-index: 99;
}

.chong a:hover span {
  display: block;

}





.jobs a {
  position: relative;
}

.jobs a span {
  position: absolute;
  display: none;
  z-index: 99;
}

.jobs a:hover span {
  display: block;
}


.bobo a {
  position: relative;
}

.bobo a span {
  position: absolute;
  display: none;
  z-index: 99;
}

.bobo a:hover span {
  display: block;
}



.barrier a {
  position: relative;
}

.barrier a span {
  position: absolute;
  display: none;
  z-index: 99;
}

.barrier a:hover span {
  display: block;
}

a:link {
  text-decoration: none;
  color: inherit;
  background-color: #98ff69;
}

a:hover {
  text-decoration-style: underline;
  color: inherit;
  background-color: hotpink;
}


/*
@keyframes c2 {
  0% {
    transform: rotate(0deg) translate(.5em, -.5em) rotate(0deg);
  }

  25% {
    transform: rotate(-10deg) translate(.5em, -1.5em) rotate(10deg);
  }

  50% {
    transform: rotate(0deg) translate(.5em, -.5em) rotate(0deg);
  }

  75% {
    transform: rotate(20deg) translate(.5em, -.5em) rotate(-20deg);
  }

  100% {
    transform: rotate(0deg) translate(.5em, -.5em) rotate(0deg);
  }*/
  @media (max-width: 800px) {
    body {
    display:block;
    }

    div{
      display: flex;
      justify-content: flex-start;

    }
  }







   @keyframes border2 {

0%{
border-radius: 0% 0% 0% 0%;}


50% {
border-radius: 30% 40% 80% 30%;

}


    100% {
border-radius: 60% 80% 50% 60%;
}
